{% extends "layout.html" %}
{% block content %}
    <table>
        <tr>
            <td style="text-align: center; border: solid black 2px">IP</td>
            <td style="text-align: center; border: solid black 2px">Имя компа</td>
            <td style="text-align: center; border: solid black 2px">Загрузка оперативной памяти</td>
            <td style="text-align: center; border: solid black 2px">Загрузка CPU</td>
        </tr>
        {% for srv in srv_list %}
        <tr>
            <td style="text-align: center; border: solid black 1px"><a href="http://{{ srv.ip }}:5678/self_stat">{{ srv.ip }}</a></td>
            <td style="text-align: center; border: solid black 1px">{{ srv.PC }}</td>
            <td style="text-align: center; border: solid black 1px">{{ srv.RAM }}</td>
            <td style="text-align: center; border: solid black 1px">{{ srv.CPU }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
